In [4]:
%matplotlib inline
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [5]:
# Load in csv
city_data_df = pd.read_csv("../Resources/city_data.csv")
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]